:root {
  --bg-primary: #f0f2f5;
  --bg-secondary: #ffffff;

  --text-primary: #1f2937;
  --text-secondary: #6b7280;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --border-color: #e5e7eb;
}

/* ===== DARK MODE ===== */
[data-theme='dark'] {
  --bg-primary: #121212;
  --bg-secondary: #020617;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  --primary: #60a5fa;
  --primary-hover: #3b82f6;

  --border-color: #1e293b;
}
